@font-face {
    font-family: "font";
    src: url("fonts/font.otf")
}

html {
    background: url(images/bg.png) no-repeat center center fixed;
    background-size: cover;
}

#container {
    color: white;
    font-family: "font";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -o-backdrop-filter: blur(15px);
    -ms-backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 32px;
    box-shadow: -5px 10px 100px black;
}

.time-container {
    overflow: hidden;
    white-space: nowrap;
}

.row {
    text-align: center;
}

.time {
    text-align: center;
    font-size: 4.5vw;
}

#time {
    text-align: center;
    font-size: 3.7vw;
}

@media (max-width: 767px) {
    .time {
        font-size: 43px;
    }
    #time {
        font-size: 27px;
    }
    .row {
        margin-bottom: 15px
    }
}